MAILCHIMP_API_KEY=mc-api-key
GATSBY_SHOPIFY_STORE=my-store-name
GATSBY_SHOPIFY_STOREFRONT_TOKEN=example-token
GATSBY_SHOPIFY_API_KEY=example-key
GATSBY_SHOPIFY_PASSWORD=example-password
GATSBY_WORDPRESS_SOURCE=source.url
GATSBY_WORDPRESS_PROTOCOL=https