////////////

$colors: (
  white: #ffffff,
  black: #1b1b1b
);

@each $name, $value in $colors {
  .#{$name} {
    color: #{$value};
  }
  .bg-#{$name} {
    background-color: #{$value};
  }
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
