////////////

.test {
  border: 1px solid red;
}

////////////

.w-full {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-66 {
  width: 66.666667%;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.333333%;
}

.w-25 {
  width: 25%;
}

.max-width-100 {
  max-width: 100%;
}

.vw-100 {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.vh-100 {
  height: 100vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  @include ms-ie {
    position: fixed;
  }

  position: sticky;
}

.top-0,
.pin-t {
  top: 0;
}

.right-0,
.pin-r {
  right: 0;
}

.bottom-0,
.pin-b {
  bottom: 0;
}

.left-0,
.pin-l {
  left: 0;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.table {
  display: table;
}

.clear-col {
  clear: both;
  float: none;
}

.center-relative {
  position: relative;
  margin: 0 auto;
}

.transform-center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.fill-width {
    width: 100%;
    height: auto;
    bottom: auto;
  }

  &.fill-height {
    width: auto;
    height: 100%;
  }

  &.align-bottom {
    top: auto;
    bottom: 0;
  }
}

.pad-square {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.auto-margin {
  margin: auto;
}

.full-fixed {
  @extend .full-absolute;

  position: fixed;
}

.flex {
  display: flex;

  &--1 {
    flex: 1;
  }

  &--xs {
    @include xs {
      display: flex;
    }
  }

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--aligncenter {
    align-items: center;

    &--xs {
      @include xs {
        align-items: center;
      }
    }
  }

  &--alignend {
    align-items: flex-end;
  }

  &--alignselfstretch {
    align-self: stretch;
  }

  &--alignselfcenter {
    align-self: center;
  }

  &--alignselfend {
    align-self: flex-end;
  }

  &--alignstart {
    align-items: flex-start;

    &--xs {
      @include xs {
        align-items: flex-start;
      }
    }
  }

  &--alignstretch {
    align-items: stretch;
  }

  &--column {
    flex-direction: column;

    &--xs {
      @include xs {
        flex-direction: column;
      }
    }
  }

  &--justifybetween {
    justify-content: space-between;

    &--xs {
      @include xs {
        justify-content: space-between;
      }
    }
  }

  &--justifycenter {
    justify-content: center;
  }

  &--justifyend {
    justify-content: flex-end;
  }

  &--justifyleft {
    justify-content: left;
  }

  &--justifyright {
    justify-content: right;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--grow-1 {
    flex-grow: 1;
  }
}

.clearflex {
  &--sm {
    @include sm {
      display: block;
    }
  }

  &--xs {
    @include xs {
      display: block;
    }
  }
}

.clearbg {
  &--xs-sm {
    @include sm {
      background-color: color(white);
    }
  }

  &--xs {
    @include xs {
      background-color: color(white);
    }
  }
}

.invert-x {
  transform: scaleX(-1);
}

.bullet-list {
  list-style-type: disc;
  list-style-position: outside;

  &--inside {
    list-style-position: inside;
  }
}

////////////

// devices

.hidden {
  &--sm {
    @include sm {
      display: none;
    }
  }
  &--xs {
    @include xs {
      display: none;
    }
  }
}

.visible {
  &--sm {
    display: none;

    @include sm {
      display: block;
    }
  }

  &--xs {
    display: none;

    @include xs {
      display: block;
    }
  }
}

////////////

// transitions

.fadeable {
  transition: $default-transition opacity;

  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &--fast {
    transition: $fast-transition opacity;
  }

  &--slow {
    transition: $slow-transition opacity;
  }
}

////////////

// helpers

.no-display {
  display: none;
}

.no-margin {
  margin: 0;
}

.no-float {
  float: none;
}

.no-opacity {
  opacity: 0;
}

.no-overflow {
  overflow: hidden;
}

.no-transition {
  transition: none;
}

.no-pointer {
  pointer-events: none;
}

.auto-pointer {
  pointer-events: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: default;
}

.gpu {
  backface-visibility: hidden;
  perspective: 1000;
  transform-style: preserve-3d;
}

.bold {
  font-weight: 900;
}

.boldish {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.ws-nowrap {
  white-space: nowrap;
}
