.test {
  border: 3px solid red;
}

.transform-center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.gpu {
  backface-visibility: hidden;
  perspective: 1000;
  transform-style: preserve-3d;
}
