.test {
  border: 3px solid red;
}

.h-1\/2 {
  height: 50%;
}

.transform-center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.transform-center-invert-x {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scaleX(-1);
}

.invert-x {
  transform: scaleX(-1);
}

.unbound {
  max-width: none !important;
  max-height: none !important;
}

.sixteen-by-nine {
  height: 56.25vw;
}

.gpu {
  backface-visibility: hidden;
  perspective: 1000;
  transform-style: preserve-3d;
}

.clipped {
  clip: rect(auto, auto, auto, auto);
}

.square {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.letterbox {
  width: 100%;
  position: relative;
  padding-bottom: 66%;
  overflow: hidden;
}

.border {
  &-black {
    border: 1px solid theme("colors.black");
  }

  &-white {
    border: 1px solid theme("colors.white");
  }
}

.border-b {
  &-black {
    border-bottom: 1px solid theme("colors.black");
  }

  &-white {
    border-bottom: 1px solid theme("colors.white");
  }
}

.border-t {
  &-black {
    border-top: 1px solid theme("colors.black");
  }

  &-white {
    border-top: 1px solid theme("colors.white");
  }
}

.hover-underline {
  @include hoverable {
    text-decoration: underline;
  }
}

.desktop-only {
  @include sm {
    display: none;
  }
}

.touch-only {
  @include sm {
    display: block;
  }

  display: none;
}

.xs-only {
  @include xs {
    display: block;
  }

  &-flex {
    @include xs {
      display: flex;
    }
  }

  display: none;
}

@for $i from 1 through 20 {
  .w-v#{$i} {
    width: #{$i}vw;
  }

  .m-v#{$i} {
    margin: #{$i}vw;
  }
  .mt-v#{$i} {
    margin-top: #{$i}vw;
  }
  .mr-v#{$i} {
    margin-right: #{$i}vw;
  }
  .mb-v#{$i} {
    margin-bottom: #{$i}vw;
  }
  .ml-v#{$i} {
    margin-left: #{$i}vw;
  }
  .p-v#{$i} {
    padding: #{$i}vw;
  }
  .pt-v#{$i} {
    padding-top: #{$i}vw;
  }
  .pr-v#{$i} {
    padding-right: #{$i}vw;
  }
  .pb-v#{$i} {
    padding-bottom: #{$i}vw;
  }
  .pl-v#{$i} {
    padding-left: #{$i}vw;
  }
}

//
// sm overrides

@for $i from 1 through 20 {
  .xs\:w-v#{$i} {
    @include sm {
      width: #{$i}vw;
    }
  }

  .xs\:m-v#{$i} {
    @include sm {
      margin: #{$i}vw;
    }
  }
  .xs\:mt-v#{$i} {
    @include sm {
      margin-top: #{$i}vw;
    }
  }
  .xs\:mr-v#{$i} {
    @include sm {
      margin-right: #{$i}vw;
    }
  }
  .xs\:mb-v#{$i} {
    @include sm {
      margin-bottom: #{$i}vw;
    }
  }
  .xs\:ml-v#{$i} {
    @include sm {
      margin-left: #{$i}vw;
    }
  }
  .xs\:p-v#{$i} {
    @include sm {
      padding: #{$i}vw;
    }
  }
  .xs\:pt-v#{$i} {
    @include sm {
      padding-top: #{$i}vw;
    }
  }
  .xs\:pr-v#{$i} {
    @include sm {
      padding-right: #{$i}vw;
    }
  }
  .xs\:pb-v#{$i} {
    @include sm {
      padding-bottom: #{$i}vw;
    }
  }
  .xs\:pl-v#{$i} {
    @include sm {
      padding-left: #{$i}vw;
    }
  }
}
