/*
100: Thin, Hairline, Ultra-light, Extra-light
200: Light
300: Book
400: Regular, Normal, Plain, Roman, Standard
500: Medium
600: Semi-bold, Demi-bold
700: Bold
800: Heavy, Black, Extra-bold
900: Ultra-black, Extra-black, Ultra-bold, Heavy-black, Fat, Poster
*/

// serif:
// font-family: "Font Name", Times, "Times New Roman", serif;

// sans-serif:
// font-family: "Font Name", Helvetica, Arial, sans-serif;

/*
@font-face {
  font-family: "Font Family";
  src: url("../assets/fonts/font-name.eot");
  src: url("../assets/fonts/font-name.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/font-name.woff") format("woff"),
    url("../assets/fonts/font-name.ttf") format("truetype"),
    url("../assets/fonts/font-name.svg#svgFontName") format("svg");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

.font-family {
  // Sans:
  font-family: "Font Family", Helvetica, Arial, sans-serif;

  // Serif:
  font-family: "Font Family", Times, "Times New Roman", serif;
}
*/

//

em,
.em {
  font-style: italic;
}

strong,
.strong {
  font-weight: bold;
}

//

@mixin f1 {
  @include sm {
    font-size: 80px;
    line-height: 80px;
  }

  @include xs {
    font-size: 72px;
    line-height: 72px;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 200px;
  line-height: 200px;
  letter-spacing: -0.02em;
}

.f1 {
  @include f1;
}

//

@mixin f2 {
  @include sm {
    font-size: 48px;
    line-height: 48px;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 128px;
  line-height: 128px;
  letter-spacing: -0.02em;
}

.f2 {
  @include f2;
}

//

@mixin f3 {
  @include sm {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.02em;
  }

  @include xs {
    letter-spacing: -0.01em;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.03em;
}

.f3 {
  @include f3;
}

//

@mixin f4 {
  @include sm {
    font-size: 30px;
    line-height: 30px;
  }

  @include xs {
    letter-spacing: -0.02em;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 66px;
  line-height: 72px;
  letter-spacing: -0.02em;
}

.f4 {
  @include f4;
}

//

@mixin f5 {
  @include sm {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -0.01em;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 42px;
  line-height: 42px;
  letter-spacing: -0.01em;
}

.f5 {
  @include f5;
}

//

@mixin f6 {
  @include sm {
    font-size: 24px;
    line-height: 28px;
  }

  @include xs {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.005em;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.f6 {
  @include f6;
}

//

@mixin b1 {
  @include xs {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.b1 {
  @include b1;
}

//

@mixin b2 {
  @include xs {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
}

.b2 {
  @include b2;
}

//

@mixin b3 {
  @include sm {
    font-size: 14px;
    line-height: 14px;
  }

  @include xs {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.01em;
  }

  font-family: Helvetica, Arial, sans-serif;

  font-size: 13px;
  line-height: 16px;
}

.b3 {
  @include b3;
}

//

.mono {
  font-family: "Courier New", Courier, monospace;
}
