@tailwind base;
@tailwind components;
@tailwind utilities;

@import "transitions.scss";
@import "screen.scss";
@import "grid.scss";
@import "fonts.scss";

@import "base.scss";
@import "common.scss";

@import "./templates/404.scss";
@import "./templates/index-page.scss";

@import "./components/Header.scss";
@import "./components/Nav.scss";
