@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";

@import "transitions.scss";
@import "screen.scss";
@import "grid.scss";
@import "fonts.scss";

@import "base.scss";
@import "common.scss";

@import "components/Header.scss";
@import "components/Layout.scss";
@import "components/Nav.scss";

@import "templates/404.scss";
@import "templates/about-page.scss";
@import "templates/index-page.scss";
@import "templates/contact-page.scss";
