// device

$breakpoints: (
  xl: 1920px,
  lg: 1440px,
  md: 1025px,
  sm: 768px
);

@mixin xl {
  @media screen and (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: map-get($breakpoints, "xl") - 1) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: map-get($breakpoints, "lg") - 1) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: map-get($breakpoints, "md") - 1) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: map-get($breakpoints, "sm") - 1) {
    @content;
  }
}

@mixin ms-ie {
  @media all and (-ms-high-contrast: none) {
    @content;
  }
}

@mixin ms-edge() {
  @supports (-ms-ime-align: auto) {
    @content;
  }
}

@mixin ms-all() {
  @include ms-ie() {
    @content;
  }
  @include ms-edge() {
    @content;
  }
}

//
// grid

$grid_columns: 40;
$grid_columns_xs: 20;
$grid_gutter: 0;

.grid {
  @include sm {
    @supports (display: grid) {
      grid-template-columns: repeat($grid_columns_xs, minmax(0, 1fr));
      grid-gap: 0 4px;
    }
  }

  @include xs {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  @include ms-all {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
  }

  //

  width: 100%;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat($grid_columns, minmax(0, 1fr));
  grid-gap: 0;

  &--nowrap {
    grid-auto-flow: column;
    overflow: auto;
  }
}

[class*="grid__"] {
  @supports (display: grid) {
    grid-column-end: span $grid_columns;
  }
}

@mixin generate-classes($columns: $grid_columns, $breakpoint_key: "") {
  $breakpoint_suffix: "";

  @if $breakpoint_key != "" {
    $breakpoint_suffix: $breakpoint_key + "-";
  }

  @for $i from 1 through $columns {
    .grid__colend--#{$breakpoint_suffix}#{$i} {
      @include ms-all {
        width: calc(100% / #{$grid_columns} * #{$i});
      }

      @supports (display: grid) {
        grid-column-end: span $i;
      }
    }

    .grid__start--#{$breakpoint_suffix}#{$i} {
      @include ms-all {
        margin-left: calc(100% / #{$grid_columns} * #{$i - 1});
      }

      @supports (display: grid) {
        grid-column-start: $i;
      }
    }
  }
}

.no-margin--legacy {
  @include ms-ie {
    margin-left: 0 !important;
  }
}

@include generate-classes($grid_columns);

@include xl {
  @include generate-classes($grid_columns, "xl");
}

@include lg {
  @include generate-classes($grid_columns, "lg");
}

@include md {
  @include generate-classes($grid_columns, "md");
}

@include sm {
  @include generate-classes($grid_columns, "sm");
}

@include xs {
  @include generate-classes($grid_columns, "xs");
}

//
// helper functions

@function grid-blocks($count) {
  @return calc((100vw / #{$grid_columns}) * #{$count});
}

@function grid-blocks-xs($count) {
  @return calc((100vw / #{$grid_columns_xs}) * #{$count});
}

//
// container class

.layout {
  &__container {
    @include lg {
      padding-bottom: 120px;
    }

    @include sm {
      margin-top: 76px;
    }

    margin-top: 36px;
    padding-bottom: 240px;
  }
}
